<!DOCTYPE html>
<html>
  <head>
    <title>ReactVsRails</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag "/images/logo.png", id: "favicon" %>
  </head>

  <body>
    <div id="react-helper"></div>
    <div id="react-wrapper"></div>
  </body>
</html>
